use nix -p nodejs_22 'nodePackages."@angular/cli"' 'nodePackages.npm'

# Make local dir for global packages
export NPM_CONFIG_PREFIX="$(pwd)/.npm-global"
mkdir -p "$NPM_CONFIG_PREFIX/bin"

# Add this dir to PATH (to command `ionic` been allowed)
PATH_add "$NPM_CONFIG_PREFIX/bin"

if ! command -v ionic &> /dev/null; then
  npm install -g @ionic/cli
fi
