@if (inputField) {
  <ion-item>
    @if (inputField.type === 'boolean') {
      <ion-toggle
        [enableOnOffLabels]="true"
        [helperText]="inputField.helperText"
        [errorText]=""
        [formControl]="control"
      >{{ inputField.label }}</ion-toggle>
    } @else {
      <ion-input
        [label]="inputField.label"
        [type]="inputField.type"
        [placeholder]="inputField.placeholder"
        [helperText]="inputField.helperText"
        [formControl]="control"
        [errorText]=""
        [readonly]="inputField.readonly ?? false"
      ></ion-input>
    }


  </ion-item>
}
