<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon name="calculator" size="large" slot="start"></ion-icon>
      <ion-title size="large">
        Калькулятор ВПТК
      </ion-title>
      <ion-buttons slot="end">
          <ion-button color="dark" (click)="toggleTheme()">
            @if (darkTheme) {<ion-icon slot="icon-only" ios="sunny-outline" md="sunny"></ion-icon>}
            @else {<ion-icon slot="icon-only" ios="moon-outline" md="moon"></ion-icon>}
          </ion-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <form [formGroup]="paramsForm" (ngSubmit)="onSubmit()">
  <ion-list-header>
    <ion-label>
      <h1>Основные параметры</h1>
    </ion-label>
  </ion-list-header>
  <ion-list [inset]="true">

    @for (inputField of inputFields; track inputField.label) {
      <app-input-field [inputField]="inputField" [control]="getControl(inputField.formControlName)"/>
    }
  </ion-list>

  <ion-list-header>
    <ion-label>
      <h1>Профили чертежа</h1>
    </ion-label>
    <ion-button (click)="toggleFlags()">
      @if (!showFlags) {
        <slot>Показать</slot>
      } @else {
        <slot>Скрыть</slot>
      }
    </ion-button>
  </ion-list-header>
  <ion-list [inset]="true" [style.display]="showFlags ? 'block' : 'none'">

    @for (inputFlag of inputFlags; track inputFlag.label) {
      <app-input-field
        [inputField]="inputFlag"
        [control]="getControl(inputFlag.formControlName)"
      />
    }

  </ion-list>

  <ion-button
    expand="block"
    type="submit"
    [disabled]="!paramsForm.valid">
      Расчитать
      <ion-icon name="arrow-forward"></ion-icon>
  </ion-button>

  </form>

</ion-content>
