<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Калькулятор ВПТК
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        <ion-icon name="calculator" size="large"></ion-icon>
        Калькулятор ВПТК
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="paramsForm" (ngSubmit)="onSubmit()">
  <ion-list>
    <ion-list-header>
      <ion-label>
        <h1>Основные параметры</h1>
      </ion-label>
    </ion-list-header>

    @for (inputField of inputFields; track inputField.label) {
      <app-input-field [inputField]="inputField" [control]="getControl(inputField.formControlName)"/>
    }
  </ion-list>

    <ion-list-header>
      <ion-label>
        <h1>Профили чертежа</h1>
      </ion-label>
      <ion-button (click)="toggleFlags()">
        @if (!showFlags) {
          <slot>Показать</slot>
        } @else {
          <slot>Скрыть</slot>
        }
      </ion-button>
    </ion-list-header>

    @for (inputFlag of inputFlags; track inputFlag.label) {
      <app-input-field
        [inputField]="inputFlag"
        [control]="getControl(inputFlag.formControlName)"
        [hidden]="!showFlags"
      />
    }

  <ion-button
    expand="block"
    type="submit"
    [disabled]="!paramsForm.valid">
      Расчитать
      <ion-icon name="arrow-forward"></ion-icon>
  </ion-button>

  </form>

</ion-content>
